<div class="abrir-modal  fadeIn" *ngIf="facturaService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable modal-lg border border-dark" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title">DETALLE FACTURA</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="alert alert-info mb-0">Detalle cliente</div>
                        <div class="row " *ngIf="factura.cliente!=null">
                            <div class="col-md-2">
                                <div class="card text-primary" style="width: 10rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">ID Cliente:</li>
                                        <li class="list-group-item">Nombre</li>
                                        <li class="list-group-item">Apellido:</li>
                                        <li class="list-group-item">Dirección:</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <div class="card mt-n3 text-dark">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{factura.cliente.id}}</li>
                                            <li class="list-group-item">{{factura.cliente.nombre}}</li>
                                            <li class="list-group-item">{{factura.cliente.apellido}}</li>
                                            <li class="list-group-item">{{factura.cliente.direccion}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="font-weight-bolder font-italic" *ngIf="factura.cliente==null">Datos cliente: C/F</p>
                    </div>

                    <div class="card ">
                        <div class="alert alert-info mb-0">Detalle Factura</div>
                        <div class="row ">
                            <div class="col-md-2">
                                <div class="card text-primary" style="width: 10rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">ID Factura:</li>
                                        <li class="list-group-item">Fecha</li>
                                        <li class="list-group-item">Hora:</li>
                                        <li class="list-group-item">Registrado por:</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <div class="card mt-n3 text-dark">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{factura.id}}</li>
                                            <li class="list-group-item">{{factura.fecha | date:"EEEE dd, MMMM yyyy"}}</li>
                                            <li class="list-group-item">{{factura.hora}}</li>
                                            <li class="list-group-item">{{factura.usuario.personal.nombre}} {{factura.usuario.personal.apellido}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card ">
                        <div class="alert alert-info mb-0">Elementos de la factura</div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Sub-Total</th>
                                    <th *ngIf="loginService.hasRole('ROLE_ADMIN')">Ganancia</th>
                                    <th *ngIf="loginService.hasRole('ROLE_ADMIN')">Descuento</th>
                                </tr>

                            </thead>

                            <tbody>
                                <tr *ngFor="let item of factura.items">
                                    <td>{{item.cantidadProducto.producto.codigo}}</td>
                                    <td>{{item.precioVenta |currency:"GTQ":"symbol"}}</td>
                                    <td>{{item.cantidad}}</td>
                                    <td>{{item.importe |currency:"GTQ":"symbol"}}</td>
                                    <td *ngIf="loginService.hasRole('ROLE_ADMIN')">{{item.ganancia |currency:"GTQ":"symbol"}}</td>
                                    <td *ngIf="loginService.hasRole('ROLE_ADMIN')">{{item.descuento |currency:"GTQ":"symbol"}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="font-weight-bold font-italic">Total:</td>
                                    <td class="font-weight-bold font-italic">{{factura.total |currency:"GTQ":"symbol"}}</td>
                                    <td *ngIf="loginService.hasRole('ROLE_ADMIN')" class="font-italic">{{factura.gananciaTotal |currency:"GTQ":"symbol"}}</td>
                                    <td></td>
                                </tr>

                            </tbody>

                        </table>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>