<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Producto</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
        <div class="card bg-secondary text-white mt-5">
            <div class="card-header">
                Formulario producto
            </div>
            <div class="card-body">
                <form #productoForm="ngForm">
                    <div class="form-group">
                        <label for="codigo">Código</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="producto.codigo" name="codigo" #prod="ngModel" required maxlength="20">
                        <div class="alert alert-danger sizeDiv" *ngIf="prod.invalid && (prod.dirty || prod.touched)">
                            <div *ngIf="prod.errors.required" class="sizeSubDiv">Rellene este campo</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.precio" name="precio" #pre="ngModel" required min="0">
                        <div class="alert alert-danger sizeDiv" *ngIf="pre.invalid && (pre.dirty || pre.touched)">
                            <div *ngIf="pre.errors.required" class="sizeSubDiv">Rellene este campo</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="precioventa">Precio venta</label>
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.precioVenta" name="precioVenta" #preven="ngModel" required min="0">
                        <div class="alert alert-danger sizeDiv" *ngIf="preven.invalid && (preven.dirty || preven.touched)">
                            <div *ngIf="preven.errors.required" class="sizeSubDiv">Rellene este campo</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="alerta">Crear alerta</label>
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="producto.alerta" name="alerta" #al="ngModel" required min="0">
                        <div class="alert alert-danger sizeDiv" *ngIf="al.invalid && (al.dirty || al.touched)">
                            <div *ngIf="al.errors.required" class="sizeSubDiv">Rellene este campo</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ruta">Categoría:</label>
                        <select [compareWith]="compararCategoria" class="form-control form-control-sm" [(ngModel)]="producto.categoria" name="categoria" required>
              <option [ngValue]="undefined">---Seleccionar categoría-----</option>
              <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.categoria}}</option>
            </select>
                    </div>

                    <div class="form-group">
                        <label for="color">Color:</label>
                        <select [compareWith]="compararColor" class="form-control form-control-sm" [(ngModel)]="producto.color" name="color" required>
              <option [ngValue]="undefined">---Seleccionar color-----</option>
              <option *ngFor="let color of colors" [ngValue]="color">{{color.color}}</option>
            </select>
                    </div>

                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <select [compareWith]="compararMarca" class="form-control form-control-sm" [(ngModel)]="producto.marca" name="marca" required>
              <option [ngValue]="undefined">---Seleccionar marca-----</option>
              <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.marca}}</option>
            </select>
                    </div>

                    <div class="form-group">
                        <label for="proveedor">Proveedor:</label>
                        <select [compareWith]="compararProveedor" class="form-control form-control-sm" [(ngModel)]="producto.proveedor" name="proveedor" required>
              <option [ngValue]="undefined">---Seleccionar proveedor-----</option>
              <option *ngFor="let proveedor of proveedors" [ngValue]="proveedor">{{proveedor.nombre }}
                {{proveedor.apellido}}</option>
            </select>
                    </div>

                    <div class="form-group">
                        <label for="talla">Talla:</label>
                        <select [compareWith]="compararTalla" class="form-control form-control-sm" [(ngModel)]="producto.talla" name="talla" required>
              <option [ngValue]="undefined">---Seleccionar talla-----</option>
              <option *ngFor="let talla of tallas" [ngValue]="talla">{{talla.talla}}</option>
            </select>
                    </div>

                    <div class="form-group">
                        <label for="talla">Tipo producto:</label>
                        <select [compareWith]="compararTipoProducto" class="form-control form-control-sm" [(ngModel)]="producto.tipoProducto" name="tipoProducto" required>
              <option [ngValue]="undefined">---Seleccionar tipo producto-----</option>
              <option *ngFor="let tipoProducto of tipoProductos" [ngValue]="tipoProducto">{{tipoProducto.tipoProducto}}
              </option>
            </select>
                    </div>

                    <div class="form-group ">
                        <button class="btn btn-info btn-block" role="button" (click)='store()' *ngIf="!producto.id else elseBlock" [disabled]="!productoForm.form.valid">Registrar producto</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!productoForm.form.valid">Actualizar Datos personal</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>