<div class="mt-3">
    <form>
        <select name="talla" [(ngModel)]="productoConsulta.talla" class="btn btn-sm btn-outline-info">
          <option [ngValue]="undefined">-SELECCIONAR TALLA-</option>
          <option *ngFor="let talla of tallas" [ngValue]="talla.talla">{{talla.talla}}</option>
        </select>
        <select name="marca" [(ngModel)]="productoConsulta.marca" class="btn btn-sm btn-outline-info">
          <option [ngValue]="undefined">-SELECCIONAR MARCA-</option>
          <option *ngFor="let marca of marcas" [ngValue]="marca.marca">{{marca.marca}}</option>
        </select>
        <select name="categoria" [(ngModel)]="productoConsulta.categoria" class="btn btn-sm btn-outline-info">
          <option [ngValue]="undefined">-SELECCIONAR CATEGORIA-</option>
          <option *ngFor="let categoria of categorias" [ngValue]="categoria.categoria">{{categoria.categoria}}</option>
        </select>
        <select name="tipoProducto" [(ngModel)]="productoConsulta.tipoProducto" class="btn btn-sm btn-outline-info">
          <option [ngValue]="undefined">-TIPO PRODUCTO-</option>
          <option *ngFor="let tp of tipoProductos" [ngValue]="tp.tipoProducto">{{tp.tipoProducto}}</option>
        </select>
        <select name="color" [(ngModel)]="productoConsulta.color" class="btn btn-sm btn-outline-info">
          <option [ngValue]="undefined">-SELECCIONAR COLOR-</option>
          <option *ngFor="let color of colors" [ngValue]="color.color">{{color.color}}</option>
        </select>
        <button class="btn btn-outline-success btn-sm" role="button" (click)='buscarProducto()'>
          <i class="fas fa-search"></i> buscar </button>
    </form>
</div>

<hr class="shadow-sm p-2 mb-3 bg-white rounded">
<div class="card-deck mt-3">
    <div class="card border-info mb-3" style="max-width: 20rem; min-width: 18rem;" *ngFor="let prod of productos" data-toggle="tooltip">

        <a href="{{urlImage}}{{prod.producto.foto}}" data-fancybox data-caption="&lt;b&gt; Img &lt;/b&gt;&lt;br /&gt;img prod &lt;em&gt;any&lt;/em&gt; HTML elements">
            <img *ngIf="prod.producto?.foto" src="{{urlImage}}{{prod.producto.foto}}" alt="{{prod.producto.foto}}" class="card-img-top">
        </a>
        <img *ngIf="!prod.producto?.foto" src="{{urlImage}}img2.png" alt="Sin foto" class="card-img-top" style="width: 150px;">
        <div class="card-body">
            <h5 class="card-title">Precio: {{prod.producto.precio |currency:"GTQ":"symbol"}}</h5>
            <p class="card-text">Marca: {{prod.producto.marca.marca}}</p>
            <p class="card-text">Talla: {{prod.producto.talla.talla}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{prod.producto.codigo}}</small>
        </div>
    </div>

</div>