<div class="abrir-modal  fadeIn" *ngIf="clienteService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable  border border-dark" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title">Formulario ingreso cliente</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form #clienteForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control form-control-sm" name="nombre" [(ngModel)]="cliente.nombre" #cli="ngModel" required>
                            <div class="alert alert-danger sizeDiv" *ngIf="cli.invalid && (cli.dirty || cli.touched)">
                                <div class="sizeSubDiv" *ngIf="cli.errors.required">Rellene este campo</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" class="form-control form-control-sm" name="apellido" [(ngModel)]="cliente.apellido" #ape="ngModel" required>
                            <div class="alert alert-danger sizeDiv" *ngIf="ape.invalid && (ape.dirty || ape.touched)">
                                <div class="sizeSubDiv" *ngIf="ape.errors.required">Rellene este campo</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control form-control-sm" name="direccion" [(ngModel)]="cliente.direccion" #dir="ngModel" required>
                            <div class="alert alert-danger sizeDiv" *ngIf="dir.invalid && (dir.dirty || dir.touched)">
                                <div class="sizeSubDiv" *ngIf="dir.errors.required">Rellene este campo</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" (click)='store()' [disabled]="!clienteForm.form.valid">Registrar Cliente</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>