<div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
              <app-nav-lateral></app-nav-lateral>
        </div>
       
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Tipo producto</li>
            </ol>
          </nav>
             <div class="row">
               <div class="col"></div>
               <div class="col-8">
                  <div class="card mt-4 ">
                      <div class="card-header">
                        <button type="button" name="button" class="btn btn-primary float-right" (click)="abrirModal()" >
                                <i class="fas fa-shoe-prints "></i> Registrar nuevo </button>
                      </div>
                      <div class="card-body">
                        <div class="alert alert-info" *ngIf="tipoProductos?.length==0">No nay registros en la base de datos</div>
                        <div class="table-responsive">
                        <table class="table table-sm table-hover">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Tipo producto</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let tipoProducto of tipoProductos">
                            <td>{{tipoProducto.id}}</td>
                            <td class="font-weight-bold">{{tipoProducto.tipoProducto}}</td>
                          </tr>
                          </tbody> 
                        </table>
          
                        </div>
                        
                      </div>
          
                    </div>
    
               </div>
               <div class="col"></div>
             </div>
        </main>
    
    </div>
    
    
    <div class="abrir-modal  fadeIn" *ngIf="tipoProductoService.modal">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
      
              <div class="modal-header">
                <h6 class="modal-title"> <i class="fas fa-shoe-prints "></i> </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #tipoProductoForm="ngForm">
              <div class="modal-body">
                   <div class="form-group">
                     <label for="tipoProducto">Tipo producto:</label>
                       <input type="text" class="form-control form-control-sm"  name="tipoProducto"
                              [(ngModel)]="tipoProducto.tipoProducto" #tp="ngModel" required maxlength="20">
                      <div class="alert alert-danger sizeDiv" *ngIf="tp.invalid && (tp.dirty || tp.touched)">
                        <div class="sizeSubDiv" *ngIf="tp.errors.required">Rellene este campo</div>
                      </div>
                   </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
               <button  class="btn btn-success btn-block" role="button" (click)='store()'
                         [disabled]="!tipoProductoForm.form.valid">Registrar</button>
      
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

