<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Personal</li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
      <div class="card bg-secondary text-white mt-5">
        <div class="card-header">
            Formulario personal
          </div>
          <div class="card-body">
             <form #personalForm="ngForm">
               <div class="form-group">
                   <label for="identificacion">Identificación</label>
                   <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.identificacion"
                   name="identificacion" #pers="ngModel" required maxlength="20" minlength="3">
                   <div class="alert alert-danger sizeDiv" *ngIf="pers.invalid && (pers.dirty || pers.touched)">
                     <div *ngIf="pers.errors.required" class="sizeSubDiv">Rellene este campo</div>
                     <div *ngIf="pers.errors.minlength" class="sizeSubDiv">La identificación debe tener mas de 3 caracteres</div>
                   </div>
               </div>
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.nombre"
                    name="nombre" #nom="ngModel" required minlength="3" maxlength="25">
                    <div class="alert alert-danger sizeDiv" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                      <div *ngIf="nom.errors.required" class="sizeSubDiv">Rellene este campo</div>
                      <div *ngIf="nom.errors.minlength" class="sizeSubDiv">El nombre debe tener mas de 3 caracteres</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="apellido" >Apellido</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.apellido"
                    name="apellido" #ape="ngModel" required minlength="3" maxlength="25">
                    <div class="alert alert-danger sizeDiv" *ngIf="ape.invalid && (ape.dirty || ape.touched)">
                      <div *ngIf="ape.errors.required" class="sizeSubDiv">Rellene este campo</div>
                      <div *ngIf="ape.errors.minlength" class="sizeSubDiv">El apellido debe tener mas de 3 caracteres</div>
                    </div>
                </div>
  
                <div class="form-group">
                  <label for="direccion">Dirección</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.direccion"
                    name="direccion" #dir="ngModel" required minlength="3" maxlength="60">
                    <div class="alert alert-danger sizeDiv" *ngIf="dir.invalid && (dir.dirty || dir.touched)">
                      <div *ngIf="dir.errors.required" class="sizeSubDiv">Rellene este campo</div>
                      <div *ngIf="dir.errors.minlength" class="sizeSubDiv">La dirección debe tener mas de 3 caracteres</div>
                    </div>
                </div>
  
                <div class="form-group">
                  <label for="telefono">Teléfono</label>
                    <input type="text" name="telefono"  class="form-control form-control-sm" [(ngModel)]="personal.telefono" maxlength="10">
                </div>
                <div class="form-group">
                  <label for="ruta">Agencia:</label>
                    <select [compareWith]="compararAgencia" class="form-control form-control-sm" [(ngModel)]="personal.agencia" name="agencia">
                      <option [ngValue]="undefined">---Seleccionar agencia-----</option>
                      <option *ngFor="let agencia of agencias" [ngValue]="agencia">{{agencia.nombre}}</option>
                      <option [ngValue]="null">NO ASIGNAR AGENCIA</option>
                    </select>
                </div>
                <div class="form-group ">
                      <button  class="btn btn-info btn-block" role="button" (click)='store()' *ngIf="!personal.id else elseBlock"
                            [disabled]="!personalForm.form.valid">Registrar personal</button>
                    <ng-template #elseBlock>
                       <button  class="btn btn-primary" role="button" (click)='update()' [disabled]="!personalForm.form.valid">Actualizar Datos personal</button>
                    </ng-template>
                </div>
             </form>
          </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  
