<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Registro de agencias</li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
      <div class="card bg-info text-white mt-5">
        <div class="card-header">
           Registrar agencia nueva
          </div>
          <div class="card-body">
             <form #agenciaForm="ngForm">
                <div class="form-group">
                  <label for="codigo">Nombre agencia: </label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="agencia.nombre"  name="nombre" required maxlength="40" #nombre="ngModel">
                    <div class="alert alert-danger sizeDiv" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required" class="sizeSubDiv">Rellene este campo</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="ubicacion" >Ubicación</label>
                    <input type="text" name="ubicacion" class="form-control form-control-sm" [(ngModel)]="agencia.ubicacion" required  maxlength="40" #vubicacion="ngModel">
                    <div class="alert alert-danger sizeDiv" *ngIf="vubicacion.invalid && (vubicacion.dirty || vubicacion.touched)">
                      <div class="" *ngIf="vubicacion.errors.required" class="sizeSubDiv"> Rellene este campo</div>
                    </div>
                </div>
  
                <div class="form-group ">
                      <button  class="btn btn-primary btn-block" role="button" [disabled]="!agenciaForm.form.valid" (click)='store()'>Registrar agencia</button>
                </div>
             </form>
          </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  
