<div class="abrir-modal  fadeIn" *ngIf="productoService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable modal-xl border border-dark" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title">DETALLE PRODUCTO</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="card-group">
                                <div class="card text-white bg-info">
                                    <div class="card-body">
                                        <div class="card mb-3" style="max-width: 600px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <div class="card mt-1 text-primary" style="width: 10rem;">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">ID:</li>
                                                            <li class="list-group-item">Código:</li>
                                                            <li class="list-group-item">Precio venta:</li>
                                                            <li class="list-group-item">Precio:</li>

                                                            <li class="list-group-item">Categoría</li>
                                                            <li class="list-group-item">Color:</li>
                                                            <li class="list-group-item">Marca:</li>
                                                            <li class="list-group-item">Talla:</li>
                                                            <li class="list-group-item">Tipo producto:</li>
                                                            <li class="list-group-item">Alerta:</li>
                                                            <li class="list-group-item">Proveedor:</li>
                                                            <li class="list-group-item">Empresa:</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="card-body">
                                                        <div class="card mt-n3 text-dark" style="width: 15rem;">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item">{{producto.id}}</li>
                                                                <li class="list-group-item">{{producto.codigo}}</li>
                                                                <li class="list-group-item text-success">{{producto.precioVenta |currency:"GTQ":"symbol"}}</li>
                                                                <li class="list-group-item">{{producto.precio |currency:"GTQ":"symbol"}}</li>

                                                                <li class="list-group-item">{{producto.categoria.categoria}}</li>
                                                                <li class="list-group-item">{{producto.color.color}}</li>
                                                                <li class="list-group-item">{{producto.marca.marca}}</li>
                                                                <li class="list-group-item">{{producto.talla.talla}}</li>
                                                                <li class="list-group-item">{{producto.tipoProducto.tipoProducto}}</li>
                                                                <li class="list-group-item">{{producto.alerta}}</li>
                                                                <li class="list-group-item">{{producto.proveedor.nombre}}</li>
                                                                <li class="list-group-item">{{producto.proveedor.empresa.nombre}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                                <div class="custom-file">
                                    <input (change)="seleccionaFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                    <label class="custom-file-label" for="inputGroupFile04">Seleccionar imagen</label>
                                </div>
                                <div class="input-group-append">
                                    <button (click)="subirFoto()" [disabled]="!imagenSeleccionada" class="btn btn-outline-success" type="button" id="inputGroupFileAddon04">SUBIR IMAGEN</button>
                                </div>
                            </div>

                            <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                                    {{progreso}}%
                                </div>
                            </div>

                            <a href="{{urlImage}}{{producto.foto}}" data-fancybox data-caption="&lt;b&gt; Img &lt;/b&gt;&lt;br /&gt;img prod &lt;em&gt;any&lt;/em&gt; HTML elements">
                                <img *ngIf="producto?.foto" src="{{urlImage}}{{producto.foto}}" alt="{{producto.foto}}" class="img-thumbnail rounded">
                            </a>
                            <img *ngIf="!producto?.foto" src="{{urlImage}}img2.png" alt="Sin imagen" class="img-thumbnail rounded" style="width: 200px;">

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>