.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  mat-header-row{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    overflow: auto;
  }

  .mat-row:nth-child(even){
    /*background-color:rgb(250, 212, 212)*/
    background-color:rgb(220,237,200);
  }

.mat-row:nth-child(odd){
    background-color:rgb(247, 241, 241);
}

mat-footer-row, mat-row{
  min-height: 36px;
}

.mat-button-toggle-group {

  height: 40px;

}

.encabezado{
  background-color: #4CAF50; /*lightcoral;*/
}

table {
  width: 100%;
}

mat-header-cell{
  font-weight: bold;
  font-size:14px;
}

mat-cell{
  overflow:visible;
  padding-left: 12px;
  padding-right: 0px;

}
