<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Agencias</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="card mt-4 border border-primary">
        <div class="card-header" >
          <h5><i class="fas fa-landmark"></i> Agencias
            <button class="btn btn-primary btn-sm float-right" [routerLink]="['/agencia/form']"  
            [disabled]="agencias?.length>4"> Registrar nueva agencia </button>
          </h5>
          
        </div>
        <div class="card-body">
         <div class="table-responsive">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Agencia</th>
                <th scope="col">Ubicación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agencia of agencias" class="text-center">
                <td>{{agencia.id}}</td>
                <td>{{agencia.nombre}}</td>
                <td>{{agencia.ubicacion}}</td>
  
              </tr>
            </tbody>
          </table>
         </div>
        </div>
  
      </div>
  
    </div>
    <div class="col"></div> 
  </div>

