<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-file-text">
              <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
              <polyline points="14 2 14 8 20 8"></polyline>
              <line x1="16" y1="13" x2="8" y2="13"></line>
              <line x1="16" y1="17" x2="8" y2="17"></line>
              <polyline points="10 9 9 9 8 9"></polyline>
            </svg>
            Panel de usuarios
          </a>
        </li>
        <li class="nav-item">

          <a [routerLink]="[ '/list-usuario']"> <i class="fas fa-users "></i> Gestionar usuarios</a>

        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Personal</li>
      </ol>
    </nav>
    <div class="card mt-4 border border-primary">
      <div class="card-header">
        
        <button type="button" name="button" class="btn btn-primary float-right" [routerLink]="['/personal/form']">
          <i class="fas fa-user-tie "></i> Registrar nuevo</button>
      </div>
      <div class="card-body">
        <div class="alert alert-info" *ngIf="personals?.length==0">No nay registros en la base de datos</div>
        <div class="table-responsive" *ngIf="personals?.length>0">
          <table class="table table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Agencia</th>
                <th scope="col">Ubicación</th>
                <th colspan="3" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of personals">
                <td>{{p.id}}</td>
                <td>{{p.identificacion}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.apellido}}</td>
                <td>{{p.direccion}}</td>
                <td *ngIf="p.telefono=='' else elseBlock1" class="text-danger">No registrado</td>
                <ng-template #elseBlock1>
                  <td>{{p.telefono}}</td>
                </ng-template>
                <td *ngIf="p.agencia==null else elseBlock" class="text-danger">Sin asignar</td>
                <ng-template #elseBlock>
                  <td>{{p.agencia.nombre}}</td>
                </ng-template>
                <td *ngIf="p.agencia==null else elseBlock2" class="text-danger">Sin asignar</td>
                <ng-template #elseBlock2>
                  <td>{{p.agencia.ubicacion}}</td>
                </ng-template>
                <td><button class="btn btn-outline-info btn-sm btn-block"
                    [routerLink]="[ '/personal/form/', p.id ]">Editar</button></td>
                <td><button class="btn btn-outline-danger btn-sm btn-block" (click)="delete(p)">Eliminar</button></td>
                <td scope="row"><button type="button" class="btn btn-sm btn-outline-primary btn-block" name="button" [routerLink]="['/usuario/form',p.id]">Crear Usuario</button></td>
              </tr>
            </tbody>
          </table>

          <app-personal-paginator *ngIf="paginador" [paginador]="paginador"></app-personal-paginator>
        </div>

      </div>

    </div>
  </main>

</div>