<app-detalle-factura *ngIf="fac" [factura]="fac"></app-detalle-factura>

<main role="main" class="animated  fadeIn container-fluid">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">AGENCIA </h3>
    </div>

    <div class="card mt-4 border border-primary">
        <div class="card-header">
            <form #ventaForm="ngForm">
                <div class="row ">
                    <div class="col"></div>
                    <div class="col-2">

                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="De fecha" [(ngModel)]="consultaFecha.fecha1" name="fecha1" required>
                            <mat-datepicker-toggle matSuffix [for]="picker" class="text-primary">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="A la fecha" [(ngModel)]="consultaFecha.fecha2" name="fecha2" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2" class="text-primary">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <select class="form-control form-control-sm" [(ngModel)]="consultaFecha.agencia" name="consultaFecha">
                            <option [ngValue]="undefined">---Seleccionar agencia-----</option>
                            <option *ngFor="let agencia of agencias" [ngValue]="agencia.nombre">{{agencia.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-success btn-block" role="button" (click)='getByFechaAndAgencia()' [disabled]="!ventaForm.form.valid"> <i class="fas fa-search"></i> </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-body">
            <div class="alert alert-info" role="alert" *ngIf="valor"> No hay datos filtrados, ingrese rango de fechas para mostrar ventas</div>
            <div class="alert alert-success" role="alert" *ngIf="dataSource?.data.length==0">No existe registro con las fechas especificadas</div>
            <div class="example-container mat-elevation-z8 table-responsive-sm">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Fecha">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fecha | date}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="Hora">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Hora</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.hora}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Cliente">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.cliente==null else elseBlock"> C/F</span>
                            <ng-template #elseBlock> {{row.cliente.nombre}} </ng-template>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="font-weight-bold font-italic"> Total:
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="Ganancia">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Ganancia</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.gananciaTotal |currency:"GTQ":"symbol"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="font-weight-bold font-italic">
                            {{ganancia |currency:"GTQ":"symbol"}} </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="Total">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.total |currency:"GTQ":"symbol"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="font-weight-bold font-italic">
                            {{total |currency:"GTQ":"symbol"}}
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="Registrado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Registrado por</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.usuario.personal.nombre}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                <mat-button-toggle value="bold" (click)="modalDetalle(row)" data-toggle="tooltip" data-placement="left" title="Detalle de factura"><i class="fas fa-info-circle text-info"></i></mat-button-toggle>
                            </mat-button-toggle-group>

                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons>
                </mat-paginator>

            </div>

        </div>

    </div>
</main>