<div class="abrir-modal  fadeIn" *ngIf="ingresoProductoService.modal">
  <div class="modal " tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-dialog-scrollable modal-xl border border-dark" role="document">
      <div class="modal-content">

        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-5">
              <div class="card-group">
                <div class="card text-white bg-info">
                    <div class="card-header text-center">DETALLE PRODUCTO</div>
                  <div class="card-body">
                    <div class="card mb-3" style="max-width: 600px;">
                      <div class="row no-gutters">
                          <div class="col-md-4">
                              <div class="card mt-1 text-primary" style="width: 10rem;">
                                 <ul class="list-group list-group-flush">
                                   <li class="list-group-item">ID:</li> 
                                   <li class="list-group-item">Código:</li>
                                   <li class="list-group-item">Precio venta:</li>
                                   <li class="list-group-item">Precio:</li>     
                                         
                                   <li class="list-group-item">Categoría</li>
                                   <li class="list-group-item">Color:</li>
                                   <li class="list-group-item">Marca:</li>
                                   <li class="list-group-item">Talla:</li>
                                   <li class="list-group-item">Tipo producto:</li>
                                   <li class="list-group-item">Proveedor:</li>
                                   <li class="list-group-item">Empresa:</li>
                                 </ul>
                               </div>
                            </div>
                            <div class="col-md-7">
                              <div class="card-body">
                                <div class="card mt-n3 text-dark" style="width: 15rem;">
                                  <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ingresoProducto.producto.id}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.codigo}}</li>
                                    <li class="list-group-item text-success">{{ingresoProducto.producto.precioVenta |currency:"GTQ":"symbol"}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.precio |currency:"GTQ":"symbol"}}</li> 
                                
                                    <li class="list-group-item">{{ingresoProducto.producto.categoria.categoria}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.color.color}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.marca.marca}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.talla.talla}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.tipoProducto.tipoProducto}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.proveedor.nombre}}</li>
                                    <li class="list-group-item">{{ingresoProducto.producto.proveedor.empresa.nombre}}</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">

                <a href= "{{urlImage}}{{ingresoProducto.producto.foto}}" data-fancybox data-caption="&lt;b&gt; Img &lt;/b&gt;&lt;br /&gt;img prod &lt;em&gt;any&lt;/em&gt; HTML elements">
                  <img  *ngIf="ingresoProducto.producto?.foto" src="{{urlImage}}{{ingresoProducto.producto.foto}}" alt="{ingresoProducto.{producto.foto}}" class="img-thumbnail rounded">
                </a>
                  <img  *ngIf="!ingresoProducto.producto?.foto" src="{{urlImage}}img2.png" alt="Sin imagen" class="img-thumbnail rounded" style="width: 200px;">
        
                <hr>

                <div class="card-group">
                  <div class="card text-white bg-info">
                      <div class="card-header text-center">DETALLE COMPRA PRODUCTO</div>
                    <div class="card-body">
                        
                      <div class="card mb-3" style="max-width: 600px;">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div class="card mt-1 text-primary" style="width: 12rem;">
                                   <ul class="list-group list-group-flush">
                                     <li class="list-group-item">ID:</li> 
                                     <li class="list-group-item">Cantidad ingresada:</li>
                                     <li class="list-group-item">Precio por unidad:</li>              
                                     <li class="list-group-item">Total compra:</li>
                                     <li class="list-group-item">Fecha:</li>
                                     <li class="list-group-item">Hora:</li>
                                     <li class="list-group-item">Relizado por:</li>
                                   </ul>
                                 </div>
                              </div>
                              <div class="col">
                                <div class="card-body">
                                  <div class="card mt-n3 text-dark" style="width: 22rem;">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">{{ingresoProducto.id}}</li>
                                      <li class="list-group-item">{{ingresoProducto.cantidad}}</li>
                                      <li class="list-group-item">{{ingresoProducto.precio |currency:"GTQ":"symbol"}}</li>
                                      <li class="list-group-item">{{ingresoProducto.total |currency:"GTQ":"symbol"}}</li> 
                                      <li class="list-group-item">{{ingresoProducto.fechaIngreso | date:"EEEE dd, MMMM yyyy"}}</li>
                                      <li class="list-group-item">{{ingresoProducto.horaIngreso}}</li>
                                      <li class="list-group-item">{{ingresoProducto.usuario.personal.nombre}} {{ingresoProducto.usuario.personal.apellido}}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>  

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>

        </div>
      </div>
    </div>
  </div>
</div>
