<div class="row">
          <div class="col-md-2 d-none d-md-block bg-light sidebar">
                <app-nav-lateral></app-nav-lateral>
          </div>
         
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
              </ol>
            </nav>
                <div class="card mt-4 border border-primary">
                  <div class="card-header">
                    {{title | uppercase}}
                    <button type="button" name="button" class="btn btn-primary float-right" [routerLink]="[ '/proveedor/form']">
                      <i class="fas fa-id-card-alt"></i> Registrar nuevo </button>
                  </div>
                  <div class="card-body">
                    <div class="alert alert-info" *ngIf="proveedors?.length==0">No nay registros en la base de datos</div>
                    <div class="table-responsive">
                    <table class="table table-sm table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Código</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Apellido</th>
                          <th scope="col">Teléfono</th>
                          <th scope="col">E-mail</th>
                          <th scope="col">Nombre empresa</th>
                          <th scope="col">Dirección empresa</th>
                          <th scope="col">Tel. empresa</th>
                          <th colspan="2" class="text-center">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let proveedor of proveedors">
                        <td>{{proveedor.identificacion}}</td>
                        <td>{{proveedor.nombre}}</td>
                        <td>{{proveedor.apellido}}</td>
                        <td>{{proveedor.telefono}}</td>
                        <td *ngIf="proveedor.email=='' else elseBlock" class="text-danger">No registrado</td>
                        <ng-template #elseBlock><td>{{proveedor.email}}</td></ng-template>
                        <td>{{proveedor.empresa.nombre}}</td>
                        <td>{{proveedor.empresa.direccion}}</td>
                        <td>{{proveedor.empresa.telefono}}</td>
                        <td><button class="btn btn-outline-primary btn-sm btn-block" [routerLink]="[ '/proveedor/form/', proveedor.id ]">Editar</button></td>
                        <td><button class="btn btn-outline-danger btn-sm btn-block" (click)="delete(proveedor)">Eliminar</button></td>
                      </tr>
                      </tbody> 
                    </table>
                    <app-proveedor-paginator *ngIf="paginador" [paginador] = "paginador"></app-proveedor-paginator>
                    </div>               
                  </div>
                </div>
          </main>   
      </div>
      
