<ul *ngIf="paginas?.length>0" class="pagination">
    <li class="page-item" *ngIf="paginador.number >0">
      <a class="page-link" [routerLink]= "['/proveedor/page',paginador.number-1]">&laquo;</a>
    </li>
  
    <li [ngClass]="paginador.number == 0?'disabled page-item': 'page-item'">
      <a class="page-link" [routerLink]= "['/proveedor/page',0]">Primera</a>
    </li>
    <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number?'active': ''">
      <span class="page-link" *ngIf="pagina-1 ==paginador.number">{{pagina}}</span>
      <a  *ngIf="pagina-1 != paginador.number" class="page-link" [routerLink]="['/proveedor/page', pagina-1]">{{pagina}}</a>
    </li>
    <li [ngClass]="paginador.number == paginador.totalPages-1?'disabled page-item': 'page-item'">
      <a class="page-link" [routerLink]= "['/proveedor/page',paginador.totalPages-1]">Ultima</a>
    </li>
    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
      <a class="page-link" [routerLink]= "['/proveedor/page',paginador.number+1]">&raquo;</a>
    </li>
  </ul>
