<nav>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-primary">
                    <i class="fab fa-product-hunt"></i> Panel de productos
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/producto/images"> <i class="far fa-image"></i> Producto imagenes</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                <a class="nav-link" routerLink="/ingreso"> <i class="far fa-share-square"></i> Producto ingresado</a>
            </li>

            <li class="nav-item active" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                <a class="nav-link" routerLink="/traslado"> <i class="fas fa-boxes"></i> Traslado </a>
            </li>

            <li class="nav-item active" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                <a class="nav-link" routerLink="/producto"> <i class="far fa-folder-open"> Producto</i></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/todo-cantidad"><i class="far fa-building"></i> Producto agencias</a>
            </li>
        </ul>
    </div>
</nav>